.bodyCalendar {
  width: 100% !important;
  height: 100% !important;
  border-radius: 16px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

